In [13]:
import os
import pandas as pd
import numpy as np

path = 'G:/My Drive/Proyectos/[CL Scrape] Full Meli Scrape/20220901/'
file_list = [path + f for f in os.listdir(path) if f.startswith('20220901')]
#file_list

df = pd.concat(map(pd.read_csv, file_list)).drop(columns=['Unnamed: 0']).drop_duplicates().set_index('meli_item_id')
df.head()

,meli_seller_id,item_name,original_price,price,condition,buying_mode,shipping,official_store_id,category_id,sold_quantity
meli_item_id,,,,,,,,,,
MLC1027411662,705626509,Propuesta Final De Nueva Constitucion Politica...,NaN,2730.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC1196,500
MLC1025868897,548451462,Propuesta Final Nueva Constitucion Politica 20...,NaN,2690.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC1196,500
MLC581052505,494032444,Caligrafix Cuaderno Caligrafia Vertical 2° Bas,NaN,3690.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC1196,250
MLC581052514,494032444,Caligrafix Cuaderno De Caligrafia Vertical 6° Bas,NaN,3690.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC1196,100
MLC967968549,494032444,Caligrafix Cuaderno Caligrafia Horizontal 2° Bas,NaN,3690.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC1196,500

In [14]:
len(df)

19160177

In [2]:
df = df.reset_index()
df.head()

,meli_item_id,meli_seller_id,item_name,original_price,price,condition,buying_mode,shipping,official_store_id,category_id,sold_quantity
0,MLC590575932,429353192,Funda Cubre Asiento Individual Auto,NaN,9990.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC59887,500
1,MLC601104546,43669254,Cubre Asiento Acolchado Premium Motorlife,NaN,11790.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC59887,500
2,MLC546449266,529758288,Protector Cobertor De Asiento Auto Perros Masc...,NaN,5650.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC59887,200
3,MLC562723570,494294258,Cubre Asiento Respaldo Bolas Madera Bambu Esfe...,NaN,14990.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC59887,500
4,MLC602382707,710385905,Repaldo Auto Silla Oficina Postura Respaldo Lu...,NaN,4990.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC59887,50

# #SKUS per meli_cat and #SKUS with orders

In [18]:
group_data1 = pd.DataFrame(df.groupby('category_id')['sold_quantity'].sum().rename(index='total_sold_qty').reset_index())
group_data1

     category_id  total_sold_qty
0        MLC1002           15003
1        MLC1004             514
2       MLC10083            1034
3       MLC10087            4813
4        MLC1014            2150
...          ...             ...
7333     MLC9903             497
7334     MLC9910            6286
7335     MLC9941            1675
7336     MLC9960             112
7337     MLC9979            8454

[7338 rows x 2 columns]

In [19]:
group_data2 = pd.DataFrame(df.groupby('category_id')['meli_item_id'].count().rename(index='#SKUS').reset_index())
group_data2

     category_id  #SKUS
0        MLC1002   1704
1        MLC1004    570
2       MLC10083    300
3       MLC10087    566
4        MLC1014    433
...          ...    ...
7333     MLC9903    150
7334     MLC9910   1742
7335     MLC9941    392
7336     MLC9960     11
7337     MLC9979   1398

[7338 rows x 2 columns]

In [20]:
group_data3 = pd.DataFrame(df[df['sold_quantity']>0].groupby('category_id')['meli_item_id'].count().rename(index='#SKUS_with_orders').reset_index())
group_data3

     category_id  #SKUS_with_orders
0        MLC1002                443
1        MLC1004                 51
2       MLC10083                 83
3       MLC10087                207
4        MLC1014                184
...          ...                ...
6724     MLC9903                 71
6725     MLC9910                216
6726     MLC9941                103
6727     MLC9960                  5
6728     MLC9979                404

[6729 rows x 2 columns]

In [24]:
data = group_data1.merge(group_data2, how='left', on=['category_id']).merge(group_data3, how='left', on=['category_id'])
data

     category_id  total_sold_qty  #SKUS  #SKUS_with_orders
0        MLC1002           15003   1704              443.0
1        MLC1004             514    570               51.0
2       MLC10083            1034    300               83.0
3       MLC10087            4813    566              207.0
4        MLC1014            2150    433              184.0
...          ...             ...    ...                ...
7333     MLC9903             497    150               71.0
7334     MLC9910            6286   1742              216.0
7335     MLC9941            1675    392              103.0
7336     MLC9960             112     11                5.0
7337     MLC9979            8454   1398              404.0

[7338 rows x 4 columns]

In [26]:
print(f"La cantidad de skus de este ejercicio es de {data['#SKUS'].sum()}")
print(f"La cantidad de skus CON ORDENES de este ejercicio es de {data['#SKUS_with_orders'].sum()}")
print(f"La cantidad de ordenes históricas de MELI es de  {data['total_sold_qty'].sum()}")

La cantidad de skus de este ejercicio es de 16132816
La cantidad de skus CON ORDENES de este ejercicio es de 1719115.0
La cantidad de ordenes históricas de MELI es de  43260338

In [ ]:
data.to_excel("G:\My Drive\Proyectos\[CL Scrape] Comission rates per meli_cat\extra_colums_for_SL.xlsx")

# T5k ABS scraper

1) SKU price range between USD 10 and USD 100
2) we can use the exchange rate from 2 weeks ago (which was the week of the scrape)
3) once SKUs between USD 10 and 100 are extracted, sort by Highest Items Sold to Lowest Items Sold
4) extract the Top 5,000 and match against existing Shopee SKUs using Fuzzy Wuzzy
5) Going by the current scraper, we should reach ~2k SKUs matched
6) After that, to matching the SKUs to the Shops and to the RMs and CMs

In [3]:
#1 + #2 + #3
df_ASP1 = df.copy()
df_ASP1['price_usd'] = df_ASP1.price/948.51 #exchangeRate at scrape's date
df_ASP1 = df_ASP1[df_ASP1['price_usd'].between(10,100)].sort_values(by = 'sold_quantity', ascending=False)

df_ASP1[0:5000].tail(10)

,meli_item_id,meli_seller_id,item_name,original_price,price,condition,buying_mode,shipping,official_store_id,category_id,sold_quantity,price_usd
4622127,MLC516534554,184083161,Pack 12 Tiras Planta Enredadera Artificial Dec...,NaN,12790.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC412644,500,13.484307
1323884,MLC454548215,251474130,Joystick Wii Control Wii Wiimote Controles Wii...,NaN,21990.0,new,buy_it_now,"{""free_shipping"": true, ""mode"": ""me2"", ""tags"":...",NaN,MLC440969,500,23.183730
11506987,MLC918359752,652806552,Pack 3 Short Deportivo Hombre Juvenil Secado R...,NaN,16980.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC417372,500,17.901762
6250098,MLC497177856,217238942,Riego Programador Automatico De Riego Goteo,NaN,10990.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC161179,500,11.586594
6250091,MLC530809369,170519773,Aspersor De Impacto Pop Up Tipo Maxi Paw + Kit...,NaN,13900.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC161179,500,14.654563
6250082,MLC637449169,290854134,12x Estacas Riego Por Goteo Cultivo Plantas In...,NaN,13990.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC161179,500,14.749449
14356276,MLC462341400,14711114,Filtro Exterior Refrigerador Samsung Original ...,36900.0,35055.0,new,buy_it_now,"{""free_shipping"": true, ""mode"": ""not_specified...",NaN,MLC9456,500,36.957966
11253580,MLC608603003,745085762,Rack Organizador De Especias De 3 Niveles Metal,NaN,15500.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC404785,500,16.341420
11253581,MLC619124969,439217132,Condimenteros Especieros Metalico Giratorio 12...,NaN,14990.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC404785,500,15.803734
11253587,MLC603773430,723069249,Organizador Multifuncional Rack De 3 Niveles D...,NaN,15990.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC404785,500,16.858019

In [5]:
#4
top5k_abs_scraper = df_ASP1[0:5000]
top5k_abs_scraper

,meli_item_id,meli_seller_id,item_name,original_price,price,condition,buying_mode,shipping,official_store_id,category_id,sold_quantity,price_usd
2916472,MLC596709538,236292130,Audífonos In-ear Inalámbricos Motorola Vervebu...,NaN,27990.0,new,buy_it_now,"{""free_shipping"": true, ""mode"": ""me2"", ""tags"":...",166.0,MLC3697,6214,29.509441
7029229,MLC485203838,420033894,Pack Tío Nacho Herbolaria 01 Shamp. + 01 Acond...,15880.0,12490.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",485.0,MLC8163,5000,13.168021
14075447,MLC517147429,445649004,Dolce Gusto Capsulas Moha X3 Cajas,NaN,18897.0,new,buy_it_now,"{""free_shipping"": true, ""mode"": ""me2"", ""tags"":...",638.0,MLC178741,5000,19.922826
1554749,MLC489192563,399613545,Silla Gamer Nibio Reclinable Despacho Gratis T...,114990.0,59990.0,new,buy_it_now,"{""free_shipping"": true, ""mode"": ""me2"", ""tags"":...",NaN,MLC447782,5000,63.246566
2585168,MLC621081905,28377267,Jeans Fajero Reductor (hecho En Perú),NaN,15990.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC158583,5000,16.858019
...,...,...,...,...,...,...,...,...,...,...,...,...
6250082,MLC637449169,290854134,12x Estacas Riego Por Goteo Cultivo Plantas In...,NaN,13990.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC161179,500,14.749449
14356276,MLC462341400,14711114,Filtro Exterior Refrigerador Samsung Original ...,36900.0,35055.0,new,buy_it_now,"{""free_shipping"": true, ""mode"": ""not_specified...",NaN,MLC9456,500,36.957966
11253580,MLC608603003,745085762,Rack Organizador De Especias De 3 Niveles Metal,NaN,15500.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC404785,500,16.341420
11253581,MLC619124969,439217132,Condimenteros Especieros Metalico Giratorio 12...,NaN,14990.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC404785,500,15.803734
11253587,MLC603773430,723069249,Organizador Multifuncional Rack De 3 Niveles D...,NaN,15990.0,new,buy_it_now,"{""free_shipping"": false, ""mode"": ""me2"", ""tags""...",NaN,MLC404785,500,16.858019

In [6]:
top5k_abs_scraper.set_index("meli_item_id").to_excel("T5k_ABS_scraper.xlsx")

In [11]:
import requests
from tqdm.notebook import tqdm

list_meli_seller_id = [260328033,1044311,26295208,26927729,37579307,49782238,53453520,55587044,55843103,59257295,65105060,70111809,80262163,84517413,89824417,92973061,126290914,131814978,136163684,148352282,155937170,160094166,163411335,168305023,174272264,183239599,184654478,188651004,189065797,200462942,200664665,207154863,209921682,214647012,221736200,231072075,238801271,245120410,247241136,256912376,280585163,282170403,282248473,303022143,304749479,304820334,313790684,315881247,322117634,333744286,339230872,345417306,356522037,364965218,365238503,365941994,379216546,384356439,385406610,387027367,389107569,393851519,399191508,418243500,421535161,441569899,442731920,443844421,444182202,444251996,453796930,454333171,467480407,473694553,479823573,481682635,483076365,491161937,493304814,493347098,496784341,520148681,529165614,544623196,554101925,555185977,571906502,573688229,576325534,580241181,581922741,611990104,616347465,622654927,645190451,645751616,652219589,654257865,671160249,677519241,683995489,699486916,700028947,702277136,703214147,703312853,705207054,707618403,711944476,719834777,725072378,728720118,738820690,744731636,751958985,765046335,766270739,785440680,788623537,790739409,806267636,816088823,822310748,824654345,829350626,829576360,1000403397]

results = {}
for i in tqdm(list_meli_seller_id):
    results[i] = requests.get(f"https://api.mercadolibre.com/sites/MLC/search?seller_id={i}").json()['paging']['total']
results

  0%|          | 0/127 [00:00<?, ?it/s]

AttributeError: 'dict' object has no attribute 'to_excel'

In [22]:
pd.DataFrame(results, index=[0]).T.rename(columns={0:"cantidad"}).rename_axis("meli_seller_id").reset_index().to_excel("delete.xlsx")

# Cantidad de casos por rango de ventas

In [ ]:
rangos_de_ventas = df[df['sold_quantity'] >0][['sold_quantity']]
rangos_de_ventas = pd.concat([rangos_de_ventas.value_counts(),

                rangos_de_ventas.value_counts(normalize=True).mul(100)],axis=1, keys=('counts','percentage'))
rangos_de_ventas['cumsum'] = np.cumsum(rangos_de_ventas['percentage'])
rangos_de_ventas[0:20]

# Average (weighted) Selling Price (ASP) per seller

In [ ]:
#filtro de precio
df_filtrado = df[(df['price'] <= 1000000) & (df['sold_quantity'] >0)]
df_filtrado.head()

In [ ]:
total_sold_qty_per_seller = df_filtrado.groupby('meli_seller_id')['sold_quantity'].sum().reset_index().rename(columns={'sold_quantity':'total_sold_qty'})
total_sold_qty_per_seller.head()

In [ ]:
df_filtrado = df_filtrado.merge(total_sold_qty_per_seller, on = 'meli_seller_id')
df_filtrado['ponderacion_sold_qty'] = df_filtrado.sold_quantity/df_filtrado.total_sold_qty
df_filtrado['ponderacion_precio'  ] = df_filtrado.price*df_filtrado.ponderacion_sold_qty
df_filtrado.head()

In [ ]:
ASP = df_filtrado[['meli_seller_id', 'total_sold_qty', 'ponderacion_precio']].groupby(['meli_seller_id', 'total_sold_qty'])['ponderacion_precio'].sum().reset_index().rename(columns={'ponderacion_precio':'ASP'})
ASP['ASP'] = ASP['ASP'].round(1)
ASP.head()

In [ ]:
#nombre de los sellers

sellers_name = pd.read_excel('G:\My Drive\Proyectos\[CL Scrape] Full Meli Scrape\V0\\all_meli_sellers_data.xlsx', usecols=['meli_seller_id', 'meli_seller_name', 'sales_last60days'])
sellers_name[sellers_name['meli_seller_id'] == 258161576]

In [ ]:
ASP_final = pd.DataFrame(ASP.merge(sellers_name, on='meli_seller_id').sort_values(by='sales_last60days',ascending = False)).set_index('meli_seller_id').fillna(0)
ASP_final.to_excel("AverageSellingPrice_WeightedBySoldQty.xlsx")

# Cantidad de SKUS con venta

In [4]:
df_with_orders = df[df['sold_quantity'] > 0].groupby('meli_seller_id')['sold_quantity'].count()
df_with_orders

meli_seller_id
18648          1
26407          2
27010          1
64602          1
92871         36
              ..
1186351472     1
1186522800     4
1186897781     3
1188942355     3
1189057180     1
Name: sold_quantity, Length: 45226, dtype: int64

In [5]:
df_with_orders = df_with_orders.reset_index().rename(columns={'sold_quantity':'skus_with_orders'})
df_with_orders

       meli_seller_id  skus_with_orders
0               18648                 1
1               26407                 2
2               27010                 1
3               64602                 1
4               92871                36
...               ...               ...
45221      1186351472                 1
45222      1186522800                 4
45223      1186897781                 3
45224      1188942355                 3
45225      1189057180                 1

[45226 rows x 2 columns]

In [6]:
np.sum(df_with_orders.skus_with_orders)

1771177

In [7]:
#cantidad de sellers con venta
len(df_with_orders)

45226

In [ ]:
data_skus_with_orders = df[['meli_seller_id']].drop_duplicates().merge(df_with_orders, on=['meli_seller_id'], how='left')#['meli_seller_id', 'skus_with_orders']
data_skus_with_orders.fillna(0).sort_values(by = 'skus_with_orders', ascending=False).set_index('meli_seller_id').to_excel("data_skus_with_orders.xlsx")

# meli_seller_id distintos para scrape por seller

In [12]:
pd.DataFrame(df_with_orders.set_index('meli_seller_id')).to_csv('all_sellers_id.csv')

# Pruebas

# Cruce para saber # SKU per shp_cluster

In [5]:
#datos de meli_category_id
meli_categories = pd.read_excel('G:\My Drive\Proyectos\[CL Scrape] Full Meli Scrape\V0\meli_categories.xlsx', usecols=['id', 'Shopee ID'])
meli_categories.head()

          id  Shopee ID
0    MLC3551     100005
1  MLC438179     100005
2  MLC392379     100006
3  MLC180608     100007
4  MLC432054     100007

In [ ]:
df2 = df.merge(meli_categories, how='left', left_on=['category_id'], right_on=['id'])[['meli_item_id', 'meli_seller_id','sold_quantity', 'Shopee ID']]
df2['Shopee ID'] = df2['Shopee ID'].astype('int')
df2.head()

In [ ]:
shp_cat_id_to_coalesce = pd.read_excel('G:\My Drive\Proyectos\[CL Scrape] Full Meli Scrape\V0\shp_cat_id_to_coalesce (just shp_id scraped).xlsx', usecols=['global_be_category_id', 'coalesce'])
shp_cat_id_to_coalesce.head()

In [ ]:
df3 = df2.merge(shp_cat_id_to_coalesce, how='left', left_on=['Shopee ID'], right_on=['global_be_category_id'])[['meli_item_id', 'sold_quantity', 'meli_seller_id','coalesce']]
df3.head()

In [ ]:
coalesce_to_shp_cluster = pd.read_excel('G:\My Drive\Proyectos\[CL Scrape] Full Meli Scrape\V0\coalesce_to_shp_cluster.xlsx')
coalesce_to_shp_cluster.head()

In [ ]:
df4 = df3.merge(coalesce_to_shp_cluster, how='left', left_on=['coalesce'], right_on=['coalesced_id'])[['meli_item_id', 'meli_seller_id', 'sold_quantity', 'bi_cluster']]
df4.head()

In [ ]:
df_grouped_by_meli_seller_id = pd.pivot_table(data=df4[df4['sold_quantity']>0],
                                        index  =['meli_seller_id'],
                                        columns=['bi_cluster'], 
                                        values =['sold_quantity'],
                                        aggfunc=['count'],
                                        fill_value=np.nan
                                    )
df_grouped_by_meli_seller_id.to_excel('count_soldQty_per_cluster_just_sellers_who_have_sales.xlsx')

# Staff

In [ ]:
#df.sort_values(by = ['sold_quantity'], ascending=False)[0:5000].to_excel("top5k_data.xlsx")

In [ ]:
meli_categories = pd.read_csv('G:\My Drive\Proyectos\[CL Scrape] Full Meli Scrape\V0\meli_categories.csv', usecols=['id', 'root_category_name', 'leve1_category_id_id', 'leve1_category_id_name'])
meli_categories.head()

In [ ]:
df1 = df.merge(meli_categories, how='left', left_on=['category_id'], right_on=['id']).drop(columns=['id', 'category_id', 'root_category_name'])
df1.head()

In [ ]:
pd.pivot_table(data = df1,
    index=['meli_seller_id'],
    columns=['leve1_category_id_name'], 
    values=['meli_item_id'],
    aggfunc='count',
    fill_value=np.nan
)#.to_excel("skus_qty_per_seller_data.xlsx")

In [ ]:
set(df1.leve1_category_id_name)

# Partes random

In [15]:
df[0:6500000].to_csv("first_scrape_p1.csv")

In [16]:
df[6500000:13000000].to_csv("first_scrape_p2.csv")

In [17]:
df[13000000:].to_csv("first_scrape_p3.csv")

In [1]:
file_path='G:\My Drive\Proyectos\[CL Scrape] Full Meli Scrape\\20220901\\first_scrape_p1.csv'
import requests
api_endpoint = 'https://datasuite.shopee.io/datahub/api/v1/usertoken/upload/csv/csv-f0a6b647-d2a5-4dab-a9cc-10daf316fae9'
headers = {'data-ingestion-token': '04278458-07fe-44c1-9bc8-ae6619480992'}
response = requests.post(api_endpoint, headers=headers, files={'file': open(file_path, 'rb')})
print (response.text)

{"message":"Uploaded successfully"}

In [2]:
file_path = 'G:\My Drive\Proyectos\[CL Scrape] Full Meli Scrape\\20220901\\first_scrape_p2.csv'
import requests
api_endpoint = 'https://datasuite.shopee.io/datahub/api/v1/usertoken/upload/csv/csv-f0a6b647-d2a5-4dab-a9cc-10daf316fae9'
headers = {'data-ingestion-token': '04278458-07fe-44c1-9bc8-ae6619480992'}
response = requests.post(api_endpoint, headers=headers, files={'file': open(file_path, 'rb')})
print (response.text)

{"message":"Uploaded successfully"}

In [3]:
file_path = 'G:\My Drive\Proyectos\[CL Scrape] Full Meli Scrape\\20220901\\first_scrape_p3.csv'
import requests
api_endpoint = 'https://datasuite.shopee.io/datahub/api/v1/usertoken/upload/csv/csv-f0a6b647-d2a5-4dab-a9cc-10daf316fae9'
headers = {'data-ingestion-token': '04278458-07fe-44c1-9bc8-ae6619480992'}
response = requests.post(api_endpoint, headers=headers, files={'file': open(file_path, 'rb')})
print (response.text)

{"message":"Uploaded successfully"}

In [ ]:
df['meli_item_id'].drop_duplicates().count()

In [ ]:
df['meli_seller_id'].drop_duplicates().count()

In [ ]:
df['category_id'].value_counts().to_excel('count_results.xlsx')

In [ ]:
items_con_venta = df[df['sold_quantity'] >0]
items_con_venta.sort_values(by='sold_quantity', ascending=False)

In [ ]:
items_con_venta.sort_values(by='sold_quantity', ascending=False)['meli_seller_id'].drop_duplicates().count()

In [ ]:
items_con_venta[items_con_venta['sold_quantity'] == 50000]

In [ ]:
import pandas as pd

pd.read_csv('G:\My Drive\Proyectos\[CL Scrape] Full Meli Scrape\V0\meli_categories.csv').to_excel('meli_categories xlsx.xlsx')