In [1]:
import pandas as pd
import requests

In [11]:
data = pd.read_csv("G:\My Drive\Proyectos\[CL Scrape] Full Meli Scrape\\20220901\\real_sold_qty_20220901.csv").drop(columns=['Unnamed: 0'])
data['sold_quantity'] = data['sold_quantity'].astype('int')
data.set_index('meli_item_id', inplace=True)
data

               sold_quantity
meli_item_id
MLC1027411662           1515
MLC1025868897            586
MLC581052505             480
MLC967968549            1989
MLC1023354590            918
...                      ...
MLC918443558             365
MLC561160965             976
MLC596528864             266
MLC560698261            1370
MLC596115463             403

[53145 rows x 1 columns]

In [12]:
data.to_csv("real_sold_qty_20220901asdasdsad.csv")

In [14]:
pd.read_csv("G:\My Drive\Proyectos\[CL Scrape] Full Meli Scrape\\20220901\\real_sold_qty_20220901.csv")

        meli_item_id  sold_quantity
0      MLC1027411662           1515
1      MLC1025868897            586
2       MLC581052505            480
3       MLC967968549           1989
4      MLC1023354590            918
...              ...            ...
53140   MLC918443558            365
53141   MLC561160965            976
53142   MLC596528864            266
53143   MLC560698261           1370
53144   MLC596115463            403

[53145 rows x 2 columns]

In [15]:
file_path="G:\My Drive\Proyectos\[CL Scrape] Full Meli Scrape\\20220901\\real_sold_qty_20220901.csv"
api_endpoint = 'https://datasuite.shopee.io/datahub/api/v1/usertoken/upload/csv/csv-208e945a-acf8-40e2-b057-ef50a0eae777'
headers = {'data-ingestion-token': '04278458-07fe-44c1-9bc8-ae6619480992'}
response = requests.post(api_endpoint, headers=headers, files={'file': open(file_path, 'rb')})
print (response.text)

{"message":"Uploaded successfully"}